.header {
  background-color: #fff;
  padding: 19px 0;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .headerContent {
    flex-wrap: wrap;
  }
}

.logo {
  width: 142px;
  height: auto;
}
